sentence-transformers>=2.2.2
langchain>=0.1.0
flask>=2.3.3
pypdf>=3.17.1
python-dotenv>=1.0.0
pinecone-client>=2.2.4
langchain-pinecone>=0.0.2
langchain-community>=0.0.10
langchain-core>=0.1.10
langchain-google-genai>=0.0.5
gunicorn>=21.2.0
-e . # local package 